.searchbar-container {
  display: flex;
  gap: 12px;
  background: var(--bg-input);
  border: 1px solid var(--border-color);
  padding: 8px 16px;
  border-radius: 12px;
  width: 100%;
}

.searchbar-input {
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-main);
  width: 100%;
  font-size: 1rem;
}